{% extends 'partials/base.html' %}

{% block content %}
<section class="container d-flex flex-column mt-5">
    <div class="row align-items-center justify-content-center g-0 h-lg-100 py-5">
        <div class="col-lg-5 col-md-8 py-4">
            <div class="soft-detail-panel p-4 p-lg-5">
                <div class="mb-4">
                    <h1 class="mb-1 fw-bold">Reset Password</h1>
                    <span class="text-secondary">
                        Remembered it?
                        <a href="{% url "userauths:login" %}" class="ms-1">Login</a>
                    </span>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" name="email" class="form-control" id="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">New Password</label>
                        <input type="password" name="password" class="form-control" id="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirm_password" class="form-label">Confirm Password</label>
                        <input type="password" name="confirm_password" class="form-control" id="confirm_password" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Update Password <i class="fas fa-key ms-2"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
