{% extends "partials/base.html" %}
{% block content %}
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row mt-0 mt-md-4">
            {% include "coach/sidebar.html" %}
            <div class="col-lg-9 col-md-8 col-12">
                <h4 class="mb-0 mb-4 fw-bold">Session Detail {{ session.session_id }}</h4>
                <div class="card mb-4">
                    <div class="shadow border p-3 mb-4 rounded-4">
                        <p>
                            <a href="{% url "coach:session_detail" session.session_id %}">
                                <p><span class="fw-semibold text-dark">Session ID:</span> {{ session.session_id }}</p>
                                <p><span class="fw-semibold text-dark">Service:</span> {{ session.service }}</p>
                                <p><span class="fw-semibold text-dark">Client:</span> {{ session.client }}</p>
                                <p><span class="fw-semibold text-dark">Status:</span> {{ session.status }}</p>
                                <p><span class="fw-semibold text-dark">Date:</span> {{ session.session_date }}</p>
                                <p>
                                    <span class="fw-semibold text-dark">Action:</span>
                                    {% if session.status == "Scheduled" %}
                                    <a href="{% url "coach:cancel_session" session.session_id %}" class="btn btn-outline-danger btn-sm">Cancel Session <i class="fas fa-trash ms-2"></i></a>
                                    <a href="{% url "coach:complete_session" session.session_id %}" class="btn btn-outline-success btn-sm">Complete Session <i class="fas fa-check-circle ms-2"></i></a>
                                    {% endif %}

                                    {% if session.status == "Cancelled" %}
                                    <a href="{% url "coach:activate_session" session.session_id %}" class="btn btn-success btn-sm">Activate Session <i class="fas fa-check-circle ms-2"></i></a>
                                    {% endif %}
                                    
                                    {% if session.status == "Completed" %}
                                    <a href="#" class="btn btn-success btn-sm">Completed<i class="fas fa-check-circle ms-2"></i></a>
                                    {% endif %}
                                </p>
                            </a>
                        </p>
                    </div>
                </div>

                <div id="medical-report">
                    <div class="d-flex justify-content-between">
                        <h4 class="mb-0 mb-4 fw-bold">Medical Reports</h4>
                        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMedicalReport" aria-expanded="false" aria-controls="collapseMedicalReport">Add Medical Report <i class="fas fa-plus ms-2"></i></button>
                    </div>
                    <div class="collapse" id="collapseMedicalReport">
                        <div class="border p-3 mb-4 rounded-4">
                            <form action="{% url "coach:add_session_note" session.session_id %}" method="POST">
                                {% csrf_token %}
                                <input type="text" class="form-control mb-3" name="summary" placeholder="Summary" />
                                <input type="text" class="form-control mb-3" name="client_mindset" placeholder="Client Mindset" />
                                <input type="text" class="form-control mb-3" name="coach_observations" placeholder="Coach Observations" />
                                <button type="submit" class="btn btn-secondary btn-sm">Save <i class="fas fa-save ms-2"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="border p-3 mb-4 rounded-4">
                            {% for note in session_notes %}
                                <div class="shadow p-3 rounded-4 mb-3">
                                    <p><span class="fw-semibold text-dark">Summary:</span> {{ note.summary }}</p>
                                    <p><span class="fw-semibold text-dark">Client Mindset:</span> {{ note.client_mindset }}</p>
                                    <p><span class="fw-semibold text-dark">Coach Observations:</span> {{ note.coach_observations }}</p>
                                    <button class="btn btn-dark btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMedicalRecord{{ note.id }}" aria-expanded="false" aria-controls="collapseMedicalRecord{{ note.id }}">Edit <i class="fas fa-edit ms-2"></i></button>
                                    <div class="collapse mt-3" id="collapseMedicalRecord1">
                                        <div class="border p-3 rounded-4">
                                            <form action="{% url "coach:edit_session_note" session.session_id note.id %}" method="POST">
                                                {% csrf_token %}
                                                <input type="text" class="form-control mb-3" name="summary" placeholder="Summary" />
                                                <input type="text" class="form-control mb-3" name="client_mindset" placeholder="Client Mindset" />
                                                <input type="text" class="form-control mb-3" name="coach_observations" placeholder="Coach Observations" />
                                                <button type="submit" class="btn btn-secondary btn-sm">Save Changes <i class="fas fa-save ms-2"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                    <p>No medical records</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div id="lab-test">
                    <div class="d-flex justify-content-between">
                        <h4 class="mb-0 mb-4 fw-bold">Labs Tests Reports</h4>
                        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLabTest" aria-expanded="false" aria-controls="collapseLabTest">Add Lab Test <i class="fas fa-plus ms-2"></i></button>
                    </div>
                    <div class="collapse" id="collapseLabTest">
                        <div class="border p-3 mb-4 rounded-4">
                            <form action="#" method="POST">
                                <input type="text" class="form-control mb-3" name="test_name" placeholder="Test name" />
                                <input type="text" class="form-control mb-3" name="description" placeholder="Description" />
                                <button class="btn btn-secondary btn-sm">Save <i class="fas fa-save ms-2"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="border p-3 mb-4 rounded-4">
                            <div class="shadow p-3 rounded-4 mb-3">
                                <p><span class="fw-semibold text-dark">Test Name:</span> Blood Test</p>
                                <p><span class="fw-semibold text-dark">Description:</span> Complete Blood Count</p>
                                <p><span class="fw-semibold text-dark">Result:</span> Not added yet</p>
                                <button class="btn btn-dark btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLabTest1" aria-expanded="false" aria-controls="collapseLabTest1">Edit <i class="fas fa-edit ms-2"></i></button>
                                <div class="collapse mt-3" id="collapseLabTest1">
                                    <div class="border p-3 rounded-4">
                                        <form action="#" method="POST">
                                            <input type="text" class="form-control mb-3" value="Blood Test" name="test_name" placeholder="Test name" />
                                            <input type="text" class="form-control mb-3" value="Complete Blood Count" name="description" placeholder="Description" />
                                            <button class="btn btn-secondary btn-sm">Save Changes <i class="fas fa-save ms-2"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <p>No lab tests</p>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                    <h4 class="mb-0 mb-4 fw-bold">Prescription</h4>
                    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePrescription" aria-expanded="false" aria-controls="collapsePrescription">Add Prescription <i class="fas fa-plus ms-2"></i></button>
                </div>
                <div class="collapse" id="collapsePrescription">
                    <div class="border p-3 mb-4 rounded-4">
                        <form action="#" method="POST">
                            <textarea class="form-control mb-3" name="medications" placeholder="Medications"></textarea>
                            <button class="btn btn-secondary btn-sm">Save <i class="fas fa-save ms-2"></i></button>
                        </form>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="border p-3 mb-4 rounded-4">
                        <div class="shadow p-3 rounded-4 mb-3">
                            <p><span class="fw-semibold text-dark">Medications:</span> Paracetamol, Ibuprofen</p>
                            <button class="btn btn-dark btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePrescription1" aria-expanded="false" aria-controls="collapsePrescription1">Edit <i class="fas fa-edit ms-2"></i></button>
                            <div class="collapse mt-3" id="collapsePrescription1">
                                <div class="border p-3 rounded-4">
                                    <form action="#" method="POST">
                                        <input type="text" class="form-control mb-3" name="medications" value="Paracetamol, Ibuprofen" placeholder="Medications" />
                                        <button class="btn btn-secondary btn-sm">Save Changes <i class="fas fa-save ms-2"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <p>No prescriptions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

