{% extends "partials/base.html" %}
{% block content %}
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row mt-0 mt-md-4">
            {% include "coach/sidebar.html" %}

            <div class="col-lg-9 col-md-8 col-12">
                <h4 class="mb-0 mb-4 fw-bold">Session Detail {{ session.session_id }}</h4>
                <div class="detail-card">
                    <div class="detail-card-body">
                        <p>
                            <a href="{% url "coach:session_detail" session.session_id %}">
                                <p><span class="fw-semibold text-dark">Session ID:</span> {{ session.session_id }}</p>
                                <p><span class="fw-semibold text-dark">Service:</span> {{ session.service }}</p>
                                <p><span class="fw-semibold text-dark">Client:</span> {{ session.client }}</p>
                                <p><span class="fw-semibold text-dark">Status:</span> {{ session.status }}</p>
                                <p><span class="fw-semibold text-dark">Date:</span> {{ session.session_date }}</p>
                                <p>
                                    <span class="fw-semibold text-dark">Action:</span>

                                    {% if session.status == "Scheduled" %}
                                    <a href="{% url "coach:cancel_session" session.session_id %}" class="btn btn-outline-danger btn-sm">Cancel Session <i class="fas fa-trash ms-2"></i></a>
                                    <a href="{% url "coach:complete_session" session.session_id %}" class="btn btn-outline-success btn-sm">Complete Session <i class="fas fa-check-circle ms-2"></i></a>
                                    {% endif %}

                                    {% if session.status == "Cancelled" %}
                                    <a href="{% url "coach:activate_session" session.session_id %}" class="btn btn-success btn-sm">Activate Session <i class="fas fa-check-circle ms-2"></i></a>
                                    {% endif %}

                                    {% if session.status == "Completed" %}
                                    <a href="{% url "coach:activate_session" session.session_id %}" class="btn btn-success btn-sm">Completed<i class="fas fa-check-circle ms-2"></i></a>
                                    {% endif %}
                                </p>
                            </a>
                        </p>
                    </div>
                </div>


                <div id="session-note">
                    <div class="d-flex justify-content-between">
                        <h4 class="mb-0 mb-4 fw-bold">Session Note</h4>
                        {% if not session_note %}
                        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" 
                        data-bs-target="#collapseMedicalReport" aria-expanded="false" aria-controls="collapseMedicalReport">
                        Add Session Note <i class="fas fa-plus ms-2"></i>
                        </button>
                        {% endif %}    
                    </div>

                    <div class="collapse" id="collapseMedicalReport">
                        <div class="detail-card mb-4">
                            <div class="detail-card-body">
                            <form action="{% url "coach:add_session_note" session.session_id %}" method="POST">
                                {% csrf_token %}
                                <input type="text" class="form-control mb-3" name="summary" placeholder="Summary" />
                                <input type="text" class="form-control mb-3" name="client_mindset" placeholder="Client Mindset" />
                                <input type="text" class="form-control mb-3" name="coach_observations" placeholder="Coach Observations" />
                                <button type="submit" class="btn btn-secondary btn-sm">Save <i class="fas fa-save ms-2"></i></button>
                            </form>
                            </div>
                        </div>
                    </div>

                    <div class="detail-card">
                        <div class="detail-card-body">
                            {% if session_note %}
                                <div class="detail-item">
                                    <p><span class="fw-semibold text-dark">Summary:</span> {{ session_note.summary }}</p>
                                    <p><span class="fw-semibold text-dark">Client Mindset:</span> {{ session_note.client_mindset }}</p>
                                    <p><span class="fw-semibold text-dark">Coach Observations:</span> {{ session_note.coach_observations }}</p>
                                    <button class="btn btn-dark btn-sm" type="button" 
                                            data-bs-toggle="collapse" 
                                            data-bs-target="#collapseNote{{ session_note.id }}">
                                        Edit <i class="fas fa-edit ms-2"></i>
                                    </button>
                            
                                    <div class="collapse mt-3" id="collapseNote{{ session_note.id }}">
                                        <div class="border p-3 rounded-4">
                                            <form action="{% url 'coach:edit_session_note' session.session_id session_note.id %}" method="POST">
                                                {% csrf_token %}
                                                <input type="text" class="form-control mb-3" name="summary" value="{{ session_note.summary }}" placeholder="Summary" />
                                                <input type="text" class="form-control mb-3" name="client_mindset" value="{{ session_note.client_mindset }}" placeholder="Client Mindset" />
                                                <input type="text" class="form-control mb-3" name="coach_observations" value="{{ session_note.coach_observations }}" placeholder="Coach Observations" />
                                                <button type="submit" class="btn btn-secondary btn-sm">
                                                    Save Changes <i class="fas fa-save ms-2"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <p class="text-center text-muted">No Session Note Found.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                
                <div id="action-items">
                    <div class="d-flex justify-content-between">
                        <h4 class="mb-0 mb-4 fw-bold">Action Items</h4>
                        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" 
                                data-bs-target="#collapseLabTest" aria-expanded="false" aria-controls="collapseLabTest">
                                Add Action Item <i class="fas fa-plus ms-2"></i>
                        </button>
                    </div>

                    <div class="collapse" id="collapseLabTest">
                        <div class="detail-card mb-4">
                            <div class="detail-card-body">
                            <form action="{% url 'coach:add_action_item' session.session_id %}" method="POST">
                                {% csrf_token %}
                                <input type="text" class="form-control mb-3" name="task" placeholder="Task Name" required />
                                <textarea class="form-control mb-3" name="description" placeholder="Description"></textarea>
                                
                                <label class="form-label text-muted small">Due Date</label>
                                <input type="date" class="form-control mb-3" name="due_date" />

                                <div class="form-check mb-3">
                                    <input type="checkbox" class="form-check-input" name="is_completed" id="is_completed">
                                    <label class="form-check-label" for="is_completed">Mark as Completed</label>
                                </div>

                                <button type="submit" class="btn btn-secondary btn-sm">Save Action <i class="fas fa-save ms-2"></i></button>
                            </form>
                            </div>
                        </div>
                    </div>

                    <div class="detail-card">
                        <div class="detail-card-body">
                            {% for item in action_items %}
                            <div class="detail-item">
                                <p><span class="fw-semibold text-dark">Task:</span> {{ item.task }}</p>
                                <p><span class="fw-semibold text-dark">Description:</span> {{ item.description }}</p>
                                <p><span class="fw-semibold text-dark">Due Date:</span> {{ item.due_date }}</p>
                                <p><span class="fw-semibold text-dark">Is Completed:</span> {{ item.is_completed }}</p>
                                <button class="btn btn-dark btn-sm" type="button" data-bs-toggle="collapse" 
                                        data-bs-target="#collapseLabTest1" aria-expanded="false" 
                                        aria-controls="collapseLabTest1">
                                        Edit <i class="fas fa-edit ms-2"></i>
                                </button>
                                
                                <div class="collapse mt-3" id="collapseLabTest1">
                                    <div class="border p-3 rounded-4">
                                        <form action="{% url 'coach:edit_action_item' session.session_id item.id %}" method="POST">
                                            {% csrf_token %}
                                            <input type="text" class="form-control mb-3" value="{{ item.task }}" name="task" placeholder="Task" />
                                            <input type="text" class="form-control mb-3" value="{{ item.description }}" name="description" placeholder="Description" />
                                            <input type="date" class="form-control mb-3" value="{{ item.due_date|date:"Y-m-d" }}" name="due_date" placeholder="Due Date" />
                                            <div class="form-check mb-3">
                                                <input type="checkbox" class="form-check-input" name="is_completed" id="is_completed{{ item.id }} {% if item.is_completed %}checked{% endif %}">
                                                <label class="form-check-label" for="is_completed{{ item.id }}">Mark as Completed</label>
                                            </div>
                                            <button class="btn btn-secondary btn-sm">Save Changes <i class="fas fa-save ms-2"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <p class="text-center text-muted">No Action Items.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>


                <div class="d-flex justify-content-between">
                    <h4 class="mb-0 mb-4 fw-bold">Resources</h4>
                    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" 
                            data-bs-target="#collapseAddResource" aria-expanded="false" 
                            aria-controls="collapseAddResource">
                            Add Resource <i class="fas fa-plus ms-2"></i>
                    </button>
                </div>

                <div class="collapse mt-3" id="collapseAddResource">
                    <div class="detail-card mb-4">
                        <div class="detail-card-body">
                        <form action="{% url "coach:add_resource" session.session_id %}" method="POST" enctype="multipart/form-data">
                           {% csrf_token %}
                                <input type="text" class="form-control mb-3" name="title" placeholder="Title" required />
                                <input type="url" class="form-control mb-3" name="link" placeholder="Link"/>
                                <input type="file" class="form-control mb-3" name="file" />
                                <button class="btn btn-secondary btn-sm">Save <i class="fas fa-save ms-2"></i></button>
                        </form>
                        </div>
                    </div>
                </div>

                <div class="detail-card">
                    <div class="detail-card-body">
                        {% for resource in resources %}
                        <div class="detail-item">
                            <p><span class="fw-semibold text-dark">Title:</span> {{ resource.title }}</p>
                            {% if resource.link %}
                                <p><span class="fw-semibold text-dark">Link:</span> <a href="{{ resource.link }}" target="_blank">{{ resource.link }}</a></p>
                            {% endif %}
                            
                            {% if resource.file %}
                                <p><span class="fw-semibold text-dark">File:</span> 
                                    <a href="{{ resource.file.url }}" class="btn btn-outline-primary btn-sm" target="_blank">
                                        Download/View File <i class="fas fa-download ms-1"></i>
                                    </a>
                                </p>
                            {% endif %}
                            <button class="btn btn-dark btn-sm" type="button" data-bs-toggle="collapse" 
                                    data-bs-target="#collapseRes{{ resource.id }}" aria-expanded="false" 
                                    aria-controls="collapseRes{{ resource.id }}">
                                    Edit <i class="fas fa-edit ms-2"></i>
                            </button>
                            
                            <div class="collapse mt-3" id="collapseRes{{ resource.id }}">
                                <div class="border p-3 rounded-4">
                                    <form action="{% url "coach:edit_resource" session.session_id resource.id %}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="text" class="form-control mb-3" value="{{ resource.title }}" name="title" placeholder="Title" required />
                                        <input type="url" class="form-control mb-3" value="{{ resource.link }}" name="link" placeholder="Link"/>
                                        <p class="small text-muted">Current File: {{ resource.file.name|default:"None" }}</p>
                                        <input type="file" class="form-control mb-3" name="file" />
                                        <button class="btn btn-secondary btn-sm">Save Changes <i class="fas fa-save ms-2"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p class="text-center text-muted">No Resources.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
